{% include 'basehead.html' %}

<body class="p-2">
    {% include 'menu.html' %}

    <h1>Agenda de Salas de Operaciones</h1>
    <table class="table">
        <tr>
            <th>DOM</th>
            <th>LUN</th>
            <th>MAR</th>
            <th>MIE</th>
            <th>JUE</th>
            <th>VIE</th>
            <th>SAB</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    {% include 'base.html' %}
</body>