{% include 'basehead.html' %}

<body class="p-2">
    {% include 'menu.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Agenda de Salas de Operaciones</h1>
    <table class="table">
        <tr>
            <th>DOM</th>
            <th>LUN</th>
            <th>MAR</th>
            <th>MIE</th>
            <th>JUE</th>
            <th>VIE</th>
            <th>SAB</th>
        </tr>
        <tr>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '0' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                        {% if procedimiento.user.id  == user.id %}
                        <p class="card-text">
                        <form action="{% url 'del_procedimiento' procedimiento.id %}">
                            <input type="submit" value="Eliminar">
                        </form>
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '1' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                    {% if procedimiento.user.id  == user.id %}
                    <p class="card-text">
                    <form action="{% url 'del_procedimiento' procedimiento.id %}">
                        <input type="submit" value="Eliminar">
                    </form>
                    </p>
                    {% endif %}
                </div>

                </div>

                {% endif %}
                {% endfor %}

            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '2' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                    {% if procedimiento.user.id  == user.id %}
                    <p class="card-text">
                    <form action="{% url 'del_procedimiento' procedimiento.id %}">
                        <input type="submit" value="Eliminar">
                    </form>
                    </p>
                    {% endif %}
                </div>

                </div>
                {% endif %}
                {% endfor %}

            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '3' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                        {% if procedimiento.user.id  == user.id %}
                        <p class="card-text">
                        <form action="{% url 'del_procedimiento' procedimiento.id %}">
                            <input type="submit" value="Eliminar">
                        </form>
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '4' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                        {% if procedimiento.user.id  == user.id %}
                        <p class="card-text">
                        <form action="{% url 'del_procedimiento' procedimiento.id %}">
                            <input type="submit" value="Eliminar">
                        </form>
                        </p>
                        {% endif %}
                    </div>
                </div> {% endif %}
                {% endfor %}

            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '5' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                        {% if procedimiento.user.id  == user.id %}
                        <p class="card-text">
                        <form action="{% url 'del_procedimiento' procedimiento.id %}">
                            <input type="submit" value="Eliminar">
                        </form>
                        </p>
                        {% endif %}
                    </div>
                </div> {% endif %}
                {% endfor %}

            </td>
            <td>
                {% for procedimiento in procedimientos %}

                {% if procedimiento.fecha|date:"w" == '6' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color:#{{ procedimiento.sala.color }};">
                        <p class="card-text">Dr. {{ procedimiento.user }}</p>
                        <p class="card-text">{{ procedimiento.hora_inicio|date:"H:i" }} - {{ procedimiento.hora_fin|date:"H:i" }}</p>
                        <p class="card-text">{{ procedimiento.sala }}</p>
                        {% if procedimiento.user.id  == user.id %}
                        <p class="card-text">
                        <form action="{% url 'del_procedimiento' procedimiento.id %}">
                            <input type="submit" value="Eliminar">
                        </form>
                        </p>
                        {% endif %}
                    </div>
                </div> {% endif %}
                {% endfor %}

            </td>
        </tr>
    </table>

    {% include 'base.html' %}
</body>