
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Salas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'procedimientos' %}">Procedimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agendar' %}">Agendar</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <b>Hola {{ request.user.username }}</b>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 p-2" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 p-2" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 p-2" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registro</button>
                </form>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>